/Training/Jarone_Programming/0_ConceptPractice/nbproject/private/
/Training/Jarone_Programming/ConceptPractice_Java_1/nbproject/private/
/Training/Jarone_Programming/ConceptPractice_Java_1/build/
/Training/Jarone_Programming/ConceptPractice_Java_2/nbproject/private/
/Training/Jarone_Programming/ConceptPractice_Java_2/build/
/Training/Jarone/Java/ConceptPractice_Java_3/nbproject/private/
/Training/Jarone/Java/ConceptPractice_Java_3/build/
/Training/Jarone/Java/ConceptPractice_4_Calculator/nbproject/private/
/Training/Jarone/Java/ConceptPractice_4_Calculator/build/
/Training/Jarone/Slick Java/Slick_Tut01_Setup/nbproject/private/
/Training/Jarone/Slick Java/JavaApplication37/nbproject/private/
/Training/Jarone/Slick Java/Slick_Tut01_Setup/build/
/Training/Jarone/Slick Java/SlickTest/nbproject/private/
/Training/Jarone/Slick Java/SlickTest/build/
/Training/Jarone/Slick Java/SlickTest2/nbproject/private/
/Training/Jarone/Slick Java/SlickTest2/build/
/Training/Jarone/Slick Java/Slick_Tut10_Mouseinput/nbproject/private/
/Training/Jarone/Slick Java/Slick_Tut10_Mouseinput/build/
/Training/Jarone/Slick Java/Slick_Tut11_Keyboard/nbproject/private/
/Training/Jarone/Slick Java/Slick_Tut11_Keyboard/build/
/Training/Jarone/Slick Java/Slick_Tut12_States/nbproject/private/
/Training/Jarone/Slick Java/Slick_Tut12_States/build/
/Training/Jarone/Slick Java/Slick_Tut13_Rpg/nbproject/private/
/Training/Jarone/Slick Java/Slick_Tut13_Rpg/build/